BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  BeforeElse: true
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
IndentCaseLabels: true
IndentExternBlock: Indent
IndentWidth: 4
PointerAlignment: Left
Standard: c++17
UseTab: Never