AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Never
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentWidth: 4
PointerAlignment: Left
Standard: c++17
UseTab: Never