BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
ColumnLimit: 0
IndentExternBlock: Indent
IndentWidth: 4
PointerAlignment: Left
Standard: c++17
UseTab: Never