.vscode
*.o
*.ll
*.bc
test.cc
bin
obj
kaleidoscope-examples/array/array
kaleidoscope-examples/compound/compound
kaleidoscope-examples/forexpr/forexpr
kaleidoscope-examples/ifexpr/ifexpr
kaleidoscope-examples/neg/neg
kaleidoscope-examples/operators/operators
kaleidoscope-examples/varexpr/varexpr
kaleidoscope-examples/whileexpr/whileexpr
src/parser.cc
src/parser.hh
src/scanner.cc